@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

* {
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    font-style: normal;
}

body {
    background-color: white !important;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}