* {
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    font-style: normal;
}

body {
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
}